.searchContainer {
    position: relative;
    display: inline-block;
}

.searchInput {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    padding-right: 40px; /* Ajusta el padding derecho para dejar espacio para el icono */
}

.searchIcon {
    position: absolute;
    top: 50%;
    right: 10px; /* Ajusta la posición derecha */
    transform: translateY(-50%);
    color: black;
    cursor: pointer;
}

.link {
    position: relative;
    transition: 0.5s;
    font-weight: 600;
  }
  
  .link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s;
  }
  
  .link:hover::after {
    width: 100%;
  }

  .navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  