.link {
    position: relative;
    transition: 0.5s;
    font-weight: 600;
  }
  
  .link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(245, 158, 179);
    transition: width 0.3s;
  }
  
  .link:hover::after {
    width: 100%;
  }

  .navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.99);
  }

  .logo{
    transition: 0.2s;
  }
  
  .logo:hover{
    transform: scale(1.1);
  }
  