@media screen and (min-width: 300px) and (max-width: 400px) {
  .container {
    position: fixed;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 80%;
  }

  .form {
    gap: 70px;
  }

  .select {
    font-size: 1.2rem;
    width: 100%;
  }

  .selectW {
    font-size: 1.2rem;
    width: fit-content;
  }

  .label {
    font-size: 1rem;
  }

  .inputFile {
    font-size: 1rem;
  }

  .fileContainer {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .container {
    position: fixed;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 80%;
  }

  .form {
    gap: 90px;
  }

  .select {
    font-size: 1.4rem;
    width: 100%;
  }

  .selectW {
    font-size: 1.4rem;
    width: fit-content;
  }

  .label {
    font-size: 1.2rem;
  }

  .inputFile {
    font-size: 1.2rem;
  }

  .fileContainer {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

  @media screen and (min-width: 600px) and (max-width: 900px) {
    .container {
      position: fixed;
      top: 15%;
      left: 10%;
      width: 80%;
      height: 80%;
    }
    .form {
      gap: 100px;
    }
    .select {
      font-size: 1.7rem;
      width: 100%;
    }
    .selectW {
      font-size: 1.7rem;
      width: fit-content;
    }
    .label {
      font-size: 1.5rem;
    }
    .inputFile {
      font-size: 1.5rem;
    }
    .fileContainer {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    .buttons{
      font-size: 1.6rem;
    }
  }
  @media screen and (min-width: 900px) and (max-width: 1000px) {
    .container {
      position: fixed;
      top: 15%;
      left: 10%;
      width: 80%;
      height: 80%;
    }
    .form {
      gap: 130px;
    }
    .select {
      font-size: 1.9rem;
      width: 100%;
    }
    .selectW {
      font-size: 1.9rem;
      width: fit-content;
    }
    .label {
      font-size: 1.7rem;
    }
    .inputFile {
      font-size: 1.7rem;
    }
    .fileContainer {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    .buttons{
      font-size: 1.8rem;
    }
  }
  @media screen and (min-width: 1000px) and (max-width: 1024px) {
    .container {
      position: fixed;
      top: 20%;
      left: 47%;
      width: 45%;
      height: 70%;
    }
    .form {
      gap: 80px;
    }
    .select {
      font-size: 1.5rem;
      width: 100%;
    }
    .selectW {
      font-size: 1.5rem;
      width: fit-content;
    }
    .label {
      font-size: 1.3rem;
    }
    .inputFile {
      font-size: 1.3rem;
    }
    .fileContainer {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    .buttons{
      font-size: 1.4rem;
    }
  }
  @media screen and (min-width: 1025px) and (max-width:1280px) {
    .container{
      position: fixed;
      left: 30%;
    }
  }