.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (min-width: 300px) and (max-width: 900px) {
  .container{
    width: 100%;
    font-size: 1.3rem;
    overflow: hidden;
  }
}
@media screen and (min-width: 900px) and (max-width: 1000px) {
  .container{
    width: 100%;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1024px) {
  .container{
    font-size: 1.6rem;
  }
}