@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* Cambiado a blanco */
  --background-rgb: 255, 195, 228; /* Cambiado a rosa claro */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* Cambiado a blanco */
    --background-rgb: 255, 195, 228; /* Cambiado a rosa claro */
  }
}

body {
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb)); /* Cambiado a background-color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
