.modalOverlay {
  animation: slideInRight 0.5s forwards; 
}

@keyframes slideInRight {
  from {
    transform: translateX(100%); /* Utilizando translateX(100%) */
  }
  to {
    transform: translateX(0);
  }
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%); 
  }
  to {
    transform: translateX(0);
  }
}
