.modalOverlay {
  animation: slideInRight 0.5s forwards; 
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

@keyframes slideInRight {
  from {
      transform: translateX(100%); /* Cambia '-100%' por '100%' */
  }
  to {
      transform: translateX(0);
  }
}
