.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 40vw;
  margin: auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  width: 45%;
  background-color: white;
  padding: 2.5rem;
  height: 60vh;
  overflow-y: auto;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.items {
  margin-top: 20px;
}

.producto {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5rem;
  margin-bottom: 5%;
}

.producto img {
  width: 10%;
  height: auto;
  margin-right: 1%;
}

.totalPrice {
  margin-top: 5%;
  font-weight: bold;
}

.checkout {
  margin-top: 1rem;
  background-color: #7f0639;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.checkout:hover {
  background-color: #ff009d;
}